@model PagedList.IPagedList<Models.Framework.ProductCategory>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section AdminMenu
{
    <i class="icon-angle-right"></i>
    <li><a href="users-account">Products Category </a></li>
}


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white user"></i><span class="break"></span>ProductsCategory</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>

        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>MetaTitle</th>
                        <th>ParentID</th>
                        <th>DisplayOrder</th>
                        <th>CreatedDate</th>
                        <th>Action</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td class="center">@item.Name</td>
                            <td class="center">@item.MetaTitle</td>
                            <td class="center">@item.ParentID</td>
                            <td class="center">@item.DisplayOrder</td>
                            <td class="center">@item.CreatedDate</td>
                            <td class="center">
                                <a class="btn btn-warning" href="/Admin/ProductCategory/Create">
                                    <i class="halflings-icon plus-sign "></i>
                                </a>
                                <a class="btn btn-success" href="/Admin/ProductCategory/Edit/@item.ID">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                            </td>
                                <td>
                                @Ajax.ActionLink("Delete", "Delete", new { @id = item.ID }, new AjaxOptions
                           {
                               Confirm = "Are you sure? ",
                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div><!--/span-->

</div><!--/row-->
